@import url('https://fonts.googleapis.com/css?family=Raleway');

*{
  font-family: 'Raleway', sans-serif;
}

/*Navigation Bar*/

.header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5% 0;
}
